*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    height: 100vh;
    background-color:white;
    color:black;
}
nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:antiquewhite;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.cont-ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    cursor:pointer;
    padding: 1.5vw;
    transition: all 1s ease 0s;
}
li:hover{
    background-color:yellow;
}
.develop{
    position: relative;
}
.develop>li:hover{
    background-color: yellow;
    display: none;
}
.ul-second{
    display: none;
    position:absolute;
    margin-top: 1.5vw;
}
.ul-second>li{
    width: 182px;
    transform: translateX(-20px);
    border-bottom: solid 1px #fff;
    text-align: center;
    background-color: white;
}
.ul-second>li:hover{
    background-color: yellow;
}
.develop:hover>.ul-second{
    display: block;
}
.ul-third{
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top:40%;
    display: none;
    background-color: white;
}
.ul-third>li{
    padding: 1.5vw;
    border-bottom:solid 1px black;

}
.front:hover>.ul-third{
    display:block;
}
@media(max-width:900px){
    .logo-danicodex{
        display:none;
    }
}
#cabecera{
    color: black;
    background-color:tomato;
    height: 500px;
    padding: 10px;
    width: 100%;
    
}
.bienvenida{
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    text-align: left;
    margin: -5%;
    margin-top: 1%;
    margin-left: 15%;
}
.intro{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 13%;
    margin-top: -4%;
}
.linea{
    background-color: yellow;
    margin-top: 10%;
    width: 50px;
    margin-left: 15%;
    border-color: yellow;
}
#texto{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 140%;
    text-align:justify;   
    height: 300px;
    padding: 10px;
    width: 90%;
    color:black;
}
.vid{
    float: left;
    width: 600px;
    margin-right: 30px;
}
a{
    color: black;
    text-decoration: none;
}
   
    