*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
    
}
body{
    height: 100vh;
    background-color:white;
    color:black;
}
nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-image: url(https://media.istockphoto.com/id/594487822/es/vector/fondo-de-safari-africano-con-elefantes-y-cebras.jpg?s=170667a&w=0&k=20&c=IyoALTu-v1DfKuDoXADdcDeDX3Arppy_Jo4fUMvCncs=);
    padding-left: 5vw;
    padding-right: 5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cont-ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    cursor:pointer;
    padding: 1.5vw;
    transition: all 1s ease 0s;
}

li:hover{
    background-color:yellow;
}
.develop{
    position: relative;
}
.develop>li:hover{
    background-color: yellow;
    display: none;
}
.ul-second{
    display: none;
    position:absolute;
    margin-top: 1.5vw;
}
.ul-second>li{
    width: 182px;
    transform: translateX(-20px);
    border-bottom: solid 1px #fff;
    text-align: center;
    background-color: white;
}
.ul-second>li:hover{
    background-color: yellow;
}
.develop:hover>.ul-second{
    display: block;
}
.ul-third{
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top:40%;
    display: none;
    background-color: white;
}
.ul-third>li{
    padding: 1.5vw;
    border-bottom:solid 1px black;

}
.front:hover>.ul-third{
    display:block;
}
@media(max-width:900px){
    .logo-danicodex{
        display:none;
    }
}
.nombre{
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
}
.imagen{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    float:left ;
}
.imagen img{
    width: 600px;
    height: 300px;
    float: left;
}
.texto{
    list-style:disc;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:bisque;
    height: 300px;
}
.texto2{
    margin-top: 70px;
    margin-left: 70px;
}
.punto{
    list-style:circle ;
    background-color: white;
    cursor:default;
    transition: none;
}
.punto:hover{
    background-color: white;
}
.vid{
    float: right;
    width: 500px;
    height: 300px;
    margin-right: 300px;
    margin-top: -140px;
}
a{
    color: black;
    text-decoration: none;
}
